<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../Footer/footer.css">
    <link rel="stylesheet" href="./aboutUS.css">
  </head>
  <body>
   
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="../Home/home.html">
            <img src="../Resources/BrandIcon.png" alt="" width="175" height="112">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../Home/home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " href="../AboutUS/aboutUS.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="../Menu/menu.html">Menu</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <div class="pai1"> 
        
        <div id="filha1"> 
            
            <p>HOW WE STARTED</p>

        </div>
    
    </div>

    <div class="pai2">

        <div id="filha2">
            
            <p>It all started in 2017. At the time, Coffee Inc. was just a group of friends who loved coffee and visited several coffee shops in New York, getting to know their different flavors and aromas. However, during 2018, they started buying some coffees and roasting them at home, experimenting with different blends.</p>
            <p>During 2019, two of the friends suffered a financial setback and the third decided to join them and invest in a coffee shop. Putting into practice everything they had known in the last three years, the coffee shop began to sell coffees of extreme quality and flavor, always seeking to please coffee lovers, as well as their creators.</p>

        </div>

        <div id="filha3">

            <img src="../Resources/Restaurant.png" height="417px" width="605px">

        </div>

    </div>

    <div class="pai3"> 
        
        <div id="filha4"> 
            
            <p>OUR TEAM</p>

        </div>
    
    </div>

    <div class="pai4"> 
        
        <div id="filha5"> 
            
            <img src="../Resources/Team.1.png" height="200px" width="200px">
            <p style="color:#393F28 #393F28; font-size: 30px; padding-top: 2px; height: 10px; padding-left: 50px;">HENRIQUE</p>
            <h1 style="color:#C7A45F; font-size: 24px; padding-top: 2px; height: 10px; padding-left: 70px;">COOK</h1>

        </div>

        <div id="filha6"> 
            
            <img src="../Resources/Team.2.png" height="200px" width="200px">
            <p style="color:#393F28 #393F28; font-size: 30px; padding-top: 2px; height: 10px; padding-left: 60px;">EMILY</p>
            <h1 style="color:#C7A45F; font-size: 24px; padding-top: 2px; height: 10px; padding-left: 20px;">KITCHEN ASSISTANT</h1>

        </div>

        <div id="filha7"> 
            
            <img src="../Resources/Team.3.png" height="200px" width="200px">
            <p style="color:#393F28 #393F28; font-size: 30px; padding-top: 2px; height: 10px; padding-left: 50px;">ISABELA</p>
            <h1 style="color:#C7A45F; font-size: 24px; padding-top: 2px; height: 10px; padding-left: 50px;">MANAGER</h1>

        </div>

        <div id="filha8"> 
            
            <img src="../Resources/Team.4.png" height="200px" width="200px">
            <p style="color:#393F28 #393F28; font-size: 30px; padding-top: 2px; height: 10px; padding-left: 60px;" >SOPHIA</p>
            <h1 style="color:#C7A45F; font-size: 24px; padding-top: 2px; height: 10px; padding-left: 60px;">BARISTA</h1>

        </div>

        <div id="filha9"> 
            
            <img src="../Resources/Team.5.png" height="200px" width="200px">
            <p style="color:#393F28 #393F28; font-size: 30px; padding-top: 2px; height: 10px; padding-left: 80px;">LEO</p>
            <h1 style="color:#C7A45F; font-size: 24px; padding-top: 2px; height: 10px; padding-left: 70px;">WAITER</h1>

        </div>
    
    </div>



      

      <footer>

        <div class="paiFooter">

            <div id="filhaFooter3">
              <img src="../Resources/instagramIcon.png" height="50px" width="50px">
              <img src="../Resources/linkedinIcon.png" height="50px" width="50px">
              <img src="../Resources/youtubeIcon.png" height="50px" width="60px">
            </div>
        </div>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>